apiVersion: v1
kind: Secret
metadata:
  name: backend-tbc-ontap-secret
  namespace: trident
type: Opaque
stringData:
  username: vsadmin
  password: "{{ svm_specs.vsadmin_password }}"
---
apiVersion: trident.netapp.io/v1
kind: TridentBackendConfig
metadata:
  name: backend-tbc-ontap-nas
  namespace: trident
spec:
  version: 1
  storageDriverName: ontap-nas
  managementLIF: "{{ svm_specs.svm_mgmt_lif.address }}"
  backendName: tbc-ontap-nas
  exportPolicy: default
  storagePrefix: "{{ tenant_name }}_"
  svm: "{{ svm_specs.svm_name }}"
  autoExportPolicy: true
  autoExportCIDRs: ["{{ svm_specs.client_match }}"]
  credentials:
    name: backend-tbc-ontap-secret
