---
apiVersion: v1
kind: ConfigMap
metadata:
  name: "{{ harvester_tenant_cloud_config_name }}"
  namespace: "{{ harvester_tenant_namespace }}"
  labels:
    harvesterhci.io/cloud-init-template: user
data:
  cloudInit: |-
{{ harvester_tenant_cloud_init | indent(4, true) }}
